@charset "UTF-8";
@font-face {
  font-family: "PT Sans - Caption Bold";
  src: url("../fonts/PTSansCaption-Bold.ttf");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "PT Sans - Caption";
  src: url("../fonts/PTSansCaption-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
  font-style: normal;
  font-weight: bold; }
main {
  width: 90vw;
  max-width: 1092px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-areas: "par par par par" "Ic1 Ic2 Ic3 Ic4" "Ic5 Ic6 Ic7 Ic8" "bt bt bt bt"; }

.header-logo-top-position {
  position: absolute; }

.main-service-p {
  grid-area: par; }

.Ic-1 {
  grid-area: Ic1; }

.Ic-2 {
  grid-area: Ic2; }

.Ic-3 {
  grid-area: Ic3; }

.Ic-4 {
  grid-area: Ic4; }

.ic-5 {
  grid-area: Ic5; }

.ic-6 {
  grid-area: Ic6; }

.ic-7 {
  grid-area: Ic7; }

.ic-8 {
  grid-area: Iс8; }

.main-button-create-acc {
  grid-area: bt; }

#grid div {
  text-align: center; }

.main-icon-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.main-services-text {
  font-family: "PT Sans";
  font-size: 1.667em;
  font-weight: 400; }

.text__uppercase {
  text-transform: uppercase; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin: 0; }

header {
  background: url("../img/background/Saturation_1.png") 100% 100% no-repeat;
  width: 100vw; }

.img-logo {
  height: 20px;
  margin-right: 7px; }

.header-wrapper {
  max-width: 1092px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.header-logo {
  display: flex;
  align-items: center; }

.header-logo-top-position {
  margin: 2% 0 0 0; }

.header-logo-domens {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 1.33em;
  font-weight: 700;
  line-height: 1;
  margin-top: -0.2%; }

.header-special-p {
  font-family: "PT Sans";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 40%;
  color: #ffffff; }

.header-account-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

.account-wrapper-input {
  display: flex;
  position: relative;
  width: 71%; }

.account-input-search {
  width: 100%;
  font-family: "PT Sans";
  font-size: 2em;
  border-radius: 15px;
  padding: 3.9% 0 3.9% 5%;
  outline: 0 !important;
  border: none; }

.account-price {
  font-family: "PT Sans - Caption Bold";
  font-size: 6.667em;
  color: #ffffff;
  width: 70%;
  text-align: center;
  margin-bottom: 5.5%; }

.account-button-check {
  border-radius: 15px;
  background-color: #5f6062;
  outline: 0 !important;
  border: none;
  font-family: "PT Sans";
  font-size: 1.83em;
  color: #ffffff;
  padding: 2.1% 4.3% 2.3%;
  position: absolute;
  right: 2%;
  top: 13%; }

.account-button-create {
  margin: 7.4% 0 0 0;
  border: none;
  outline: 0 !important;
  font-family: "PT Sans";
  border-radius: 10px;
  font-size: 2em;
  padding: 1.3% 4.1%;
  background-color: #77b53c;
  color: #ffffff; }

.down-ancor {
  border-radius: 27px;
  border: 4px solid #ffffff;
  padding: 0.5%;
  margin-top: 11.5em;
  margin-bottom: 5.08em; }

/*# sourceMappingURL=style.css.map */
